<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Trust Payments Example Form</title>
    <meta name="description" content="Trust Payments Animated Card example page with form">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="icon" href="favicon.webp" sizes="32x32">
    <link rel="icon" href="favicon.webp" sizes="192x192">
    <link rel="apple-touch-icon" href="favicon.webp">
    <link rel="manifest" href="manifest.json">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet"/>
</head>

<body>
<form id="st-form" class="merchants-form" autocomplete="off" novalidate>
    <header>
        <img src="trustpayments.png"
             alt="Online Payment Partners"
             id="logo"
             height="54"
             width="150"
        />
        <h2>Trust Payments Animated Card Example</h2>
    </header>

    <div class="merchants-form__fields">
        <div class="merchants-form__field">
            <label for="st-card-number-input">Card number: </label>
            <input type="text" class="merchants-form__input" id="st-card-number-input" name="st-card-number-input"/>
            <div class="merchants-form__error" id="st-card-number-message"></div>
        </div>

        <div class="merchants-form__field">
            <label for="st-expiration-date-input">Expiration date: </label>
            <input type="text"
                   class="merchants-form__input"
                   id="st-expiration-date-input"
                   name="st-expiration-date-input"
            />
            <div class="merchants-form__error" id="st-expiration-date-message"></div>
        </div>

        <div class="merchants-form__field">
            <label for="st-security-code-input">Security code: </label>
            <input type="text" class="merchants-form__input" id="st-security-code-input" name="st-security-code-input"/>
            <div class="merchants-form__error" id="st-security-code-message"></div>
        </div>
    </div>

    <div id="st-animated-card" class="st-animated-card-wrapper"></div>
</form>
<script src="<%= WEBSERVICES_URL %>/index.js"></script>
<script>
  var STCard = Card;
  window.addEventListener('load', function() {
    var card = STCard({
      locale: 'en_GB',
      fields: {
        inputs: {
          cardNumber: 'st-card-number-input',
          expirationDate: 'st-expiration-date-input',
          securityCode: 'st-security-code-input'
        },
        errors: {
          cardNumber: 'st-card-number-message',
          expirationDate: 'st-expiration-date-message',
          securityCode: 'st-security-code-message'
        }
      },
      animatedCardContainer: 'st-animated-card'
    });
    card.onCardNumberInput('st-card-number-input', function(event) {
    });
    card.onExpirationDateInput('st-expiration-date-input', function(event) {
    });
    card.onSecurityCodeInput('st-security-code-input', function(event) {
    });
  });
</script>
</body>
</html>
