$amex-background-color-1: #3ca2b7;
$amex-background-color-2: #16343c;

$astropay-background-color-1: #333;
$astropay-background-color-2: #000;

$default-background-color-1: #c1c1c1;
$default-background-color-2: #6c6c6c;

$diners-background-color-1: #2b5b8f;
$diners-background-color-2: #0d1a51;

$discover-background-color-1: #2b5b8f;
$discover-background-color-2: #0d1a51;

$jcb-background-color-1: #3c62b7;
$jcb-background-color-2: #1c3380;

$maestro-background-color-1: #3c62b7;
$maestro-background-color-2: #1c3380;

$mastercard-background-color-1: #333;
$mastercard-background-color-2: #000;

$visa-background-color-1: #3c62b7;
$visa-background-color-2: #1c3380;
$visa-font-color: #cdcdcd;
$visa-font-color-2: #333;

$security-code-field-color: #fff;
$signature-field-color: rgba(0, 0, 0, 0.25);

$amex-gradient: radial-gradient(circle, $amex-background-color-1 0%, $amex-background-color-2 100%);
$astro-pay-gradient: radial-gradient(circle, $astropay-background-color-1 0%, $astropay-background-color-2 100%);
$default-gradient: radial-gradient(circle, $default-background-color-1 0%, $default-background-color-2 100%);
$diners-gradient: radial-gradient(circle, $diners-background-color-1 0%, $diners-background-color-2 100%);
$discover-gradient: radial-gradient(circle, $discover-background-color-1 0%, $discover-background-color-2 100%);
$jcb-gradient: radial-gradient(circle, $jcb-background-color-1 0%, $jcb-background-color-2 100%);
$maestro-gradient: radial-gradient(circle, $maestro-background-color-1 0%, $maestro-background-color-2 100%);
$master-card-gradient: radial-gradient(circle, $mastercard-background-color-1 0%, $mastercard-background-color-2 100%);
$visa-gradient: radial-gradient(circle, $visa-background-color-1 0%, $visa-background-color-2 100%);

$before-after-oval-gradient: linear-gradient(180deg, #333 0%, #222 100%);

$card-data-font: 'Courier New', Courier, monospace;
$card-font: Helvetica, sans-serif;

$card-label-font-color: #bababa;
$card-value-font-color: #cdcdcd;

$card-box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.24);

$card-label-font-size: 1rem;
$card-value-font-size: 2rem;

@mixin flipY($deg) {
  transform: rotateY($deg);
  transition: 1.2s ease-in-out transform;
}

@mixin centerLogo($top, $right) {
  position: absolute;
  top: $top;
  right: $right;
}


html {
  font-size: 10px;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  display: block;
  margin: 0;
}

.st-animated-card-wrapper {
  display: flex;
}

.st-animated-card {
  display: flex;
  width: 360px;
  height: 230px;
  perspective: 1000px;
  justify-content: center;
  align-items: center;

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
  }

  @media all and (max-width: 350px) {
    &__content {
      max-height: 205px;
      max-width: 320px;
    }

    &__chip-logo {
      max-width: 40px;
    }
  }

  @media all and (max-width: 270px) {
    &__content {
      max-height: 150px;
      max-width: 270px;
    }

    &__chip-logo {
      max-width: 40px;
    }
  }

  @media all and (max-width: 255px) {
    &__content {
      max-height: 150px;
      max-width: 240px;
    }

    &__chip-logo {
      max-width: 30px;
    }
  }

  &__front,
  &__back {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  &__front,
  &__back {
    position: absolute;
    top: 0;
    left: 0;
    background: $default-gradient;
    backface-visibility: hidden;
    border-radius: 15px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.24);
    box-sizing: border-box;
    z-index: 2;
    padding: 15px 25px;
  }

  &__amex,
  &__astropaycard,
  &__diners,
  &__discover,
  &__jcb,
  &__maestro,
  &__mastercard,
  &__visa {
    border-radius: 15px;
  }

  .st-animated-card__payment-logo-img {
    @include centerLogo(20px, 10px);
  }

  @mixin cardType($bgr) {
    background: $bgr;
  }

  .st-animated-card__payment-logo--default {
    background: transparent;
  }

  &__default {
    @include cardType($default-gradient);
  }

  &__amex {
    @include cardType($amex-gradient);
  }

  &__astropaycard {
    @include cardType($astro-pay-gradient);

    .st-animated-card__signature {
      background-color: rgba(172, 172, 172, 0.25);
    }
  }

  &__diners {
    @include cardType($diners-gradient);
  }

  &__discover {
    @include cardType($discover-gradient);
  }

  &__jcb {
    @include cardType($jcb-gradient);
  }

  &__maestro {
    @include cardType($maestro-gradient);
  }

  &__mastercard {
    @include cardType($master-card-gradient);

    .st-animated-card__signature {
      background-color: rgba(172, 172, 172, 0.25);
    }
  }

  &__visa {
    @include cardType($visa-gradient);
  }

  &__front {
    &::after,
    &::before {
      position: absolute;
      content: '';
      opacity: 0.1;
      background: $before-after-oval-gradient;
    }

    &::after {
      height: 210px;
      width: 120px;
      bottom: 0;
      left: 0;
      border-radius: 0 790px 410px 40px;
    }

    &::before {
      height: 240px;
      width: 380px;
      border-radius: 2380px 980px 380px 50px;
      left: 30px;
      top: 90px;
    }
  }

  &__back {
    @include flipY(180deg);
  }

  &__front {
    @include flipY(0deg);
  }

  &__flip-card &__front {
    @include flipY(-180deg);
  }

  &__flip-card &__back {
    @include flipY(0deg);
  }

  &__content {
    position: relative;
  }

  &__logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    z-index: 1;
  }

  &__chip-logo {
    align-self: flex-end;
  }

  &__chip-logo-img {
    max-width: 100%;
    display: block;
    height: auto;
  }

  &__payment-logo {
    align-self: flex-start;
    height: 120px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    border-radius: 0 0 0 100px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media all and (max-width: 350px) {
    &__payment-logo {
      width: 100px;
      height: 100px;
      border-radius: 0 0 0 90px;
    }

    &__payment-logo-img {
      max-width: 60px;
    }
  }

  @media all and (max-width: 270px) {
    &__payment-logo {
      width: 90px;
      height: 90px;
      border-radius: 0 0 0 70px;
    }

    &__payment-logo-img {
      max-width: 60px;
    }
  }

  @media all and (max-width: 255px) {
    &__payment-logo {
      width: 80px;
      height: 80px;
      border-radius: 0 0 0 70px;
    }

    &__payment-logo-img {
      max-width: 50px;
    }
  }

  &__label {
    font-family: $card-font;
    font-size: $card-label-font-size;
    font-weight: bold;
    color: $card-label-font-color;
    text-transform: uppercase;
    line-height: 11px;
  }

  &__value {
    font-family: $card-data-font;
    font-size: $card-value-font-size;
    font-weight: bold;
    color: $card-value-font-color;
    text-shadow: -1px 1px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    height: 27.5px;
    align-items: center;
  }

  @media all and (max-width: 350px) {
    &__value {
      font-size: 12px;
      margin-top: 0;
      height: 18.5px;
    }

    &__label {
      font-size: 9px;
    }
  }

  @media all and (max-width: 270px) {
    &__value {
      font-size: 9px;
      margin-top: 0;
      height: 18.5px;
    }

    &__label {
      font-size: 7px;
    }
  }

  @media all and (max-width: 255px) {
    &__value {
      font-size: 8px;
      margin-top: 0;
      height: 18.5px;
    }

    &__label {
      font-size: 6px;
    }
  }

  &__pan {
    height: 40px;
    margin-bottom: 13px;
  }

  &__expiration-date-and-security-code {
    display: flex;
    align-items: center;
  }

  &__signature {
    height: 100px;
    width: 100%;
    background-color: $signature-field-color;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  &__security-code {
    background-color: $security-code-field-color;
    height: 40px;
    width: 230px;
    font-family: $card-font;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-right: 20px;
    justify-content: flex-end;

    &--front {
      background-color: transparent;
      width: 30%;
      align-items: flex-start;
      font-family: $card-data-font;
      color: $card-label-font-color;
      display: flex;
      flex-direction: column;
    }

    &--front-hidden {
      visibility: hidden;
    }
  }

  @media all and (max-width: 350px) {
    &__security-code {
      width: 155px;
    }
  }

  @media all and (max-width: 270px) {
    &__security-code {
      width: 140px;
      height: 30px;
    }
  }

  @media all and (max-width: 255px) {
    &__security-code {
      width: 110px;
      height: 30px;
    }
  }

  &__expiration-date {
    display: flex;
    flex-direction: column;
    width: 260px;
  }
}

@media all and (max-width: 350px) {
  .st-animated-card {
    width: 310px;
    height: 198px;

    &__pan {
      margin-bottom: 0;
    }
  }
}

@media all and (max-width: 300px) {
  .st-animated-card {
    width: 250px;
    height: 173px;
  }
}

@media all and (max-width: 255px) {
  .st-animated-card {
    width: 227px;
    height: 145px;
  }
}

.error {
  background-color: #f8d7da;
  color: #721c24;
  border-color: #ff4545;
}

button[disabled],
input[disabled] {
  background-color: #fff;
  border-color: #dbdbdb;
  box-shadow: none;
  opacity: 0.7;
  cursor: not-allowed;
}
